@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.waveform {
  width: 100%;
  min-height: 8rem;
  padding: 0.5rem 0;
}

/* styles/global.css */
/* Style the cursor part */
#waveform ::part(cursor)::before {
  content: '🏄';
  /* Add your custom styles here */
}

/* Style the region part */
#waveform ::part(region) {
  font-family: fantasy;
  color: red;
  /* Add your custom styles here */
}
#waveform::part(wrapper) {
  font-family: fantasy;
  color: red;
  max-width: 200px;
  /* Add your custom styles here */
}
